.about{

    border: #555252 solid 4px;
    color: #555252  ;
    font-weight: bold; 
    margin: 10px;
    line-height: 20px;
    font-family:  'Trebuchet MS';
    animation-duration: 4s;
    animation-name: slidein;
} 


@keyframes slidein {
    from {
        opacity: 0;
    }
  
    to {
        pacity: 100;
    }
  }